In [50]:
import pandas as pd
import requests
import numpy as np

In [85]:
r1 = requests.get("https://api.covid19india.org/raw_data1.json").json()
r2 = requests.get("https://api.covid19india.org/raw_data2.json").json()
r3 = requests.get("https://api.covid19india.org/raw_data3.json").json()

In [4]:
r1.keys(), r2.keys(), r3.keys()

(dict_keys(['raw_data']), dict_keys(['raw_data']), dict_keys(['raw_data']))

In [7]:
gender = pd.DataFrame(r1['raw_data'])['gender']

In [17]:
type(gender)

pandas.core.series.Series

In [9]:
import plotly.graph_objects as go

In [12]:
go.Pie(values=gender)

array(['F', '', '', ..., 'M', 'M', 'M'], dtype=object)

In [19]:
gender.value_counts()['M']

2523

In [11]:
pd.DataFrame(r1['raw_data'])[['gender', 'agebracket']]

      gender agebracket
0          F         20
1
2
3          M         45
4          M         24
...      ...        ...
17301
17302
17303      M         30
17304      M         36
17305      M         52

[17306 rows x 2 columns]

In [12]:
df1 = pd.DataFrame(r1['raw_data'])[['gender', 'agebracket']]
df2 = pd.DataFrame(r2['raw_data'])[['gender', 'agebracket']]
df3 = pd.DataFrame(r3['raw_data'])[['gender', 'agebracket']]

In [84]:
raw_df = pd.concat([df1,df2,df3])

In [27]:
raw_df['agebracket'].value_counts()

       27848
35       140
40       128
30       125
32       125
       ...
96         1
1.5        1
0.3        1
89         1
83         1
Name: agebracket, Length: 95, dtype: int64

In [28]:
raw_df['gender'].value_counts()

              24890
M              4678
F              2401
Non-Binary        1
Name: gender, dtype: int64

In [29]:
"A"> 0

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
df1['agebracket'].value_counts()

       15636
35        67
32        52
40        49
55        45
       ...
96         1
1.5        1
89         1
92         1
79         1
Name: agebracket, Length: 89, dtype: int64

In [46]:
bool(df1['agebracket'][0])

True

In [52]:
a = df1['agebracket'].apply(lambda x: x if bool(x) else np.nan)

In [64]:
a.dropna(inplace=True)

In [65]:
a

0        20
3        45
4        24
5        69
6        55
         ..
16135    30
16136    50
17303    30
17304    36
17305    52
Name: agebracket, Length: 1670, dtype: object

In [66]:
df1

      gender agebracket
0          F         20
1
2
3          M         45
4          M         24
...      ...        ...
17301
17302
17303      M         30
17304      M         36
17305      M         52

[17306 rows x 2 columns]

In [77]:
df = pd.DataFrame(r1['raw_data'])

In [78]:
df

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,India,Travelled from Wuhan,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,India,Travelled from Wuhan,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,India,Travelled from Wuhan,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,India,"Travelled from Austria, Italy",4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,India,"Travelled from Dubai to Bangalore on 20th Feb,...",5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17301,,,,Hospitalized,19/04/2020,,Bandipora,Jammu and Kashmir,,,,Details awaited,17301,https://twitter.com/kansalrohit69/status/12519...,,,JK,,19/04/2020,
17302,,,,Hospitalized,19/04/2020,,Baramulla,Jammu and Kashmir,,,,Details awaited,17302,https://twitter.com/kansalrohit69/status/12519...,,,JK,,19/04/2020,
17303,30,,,Hospitalized,19/04/2020,,Munger,Bihar,,M,,Details awaited,17303,https://twitter.com/sanjayjavin/status/1251938...,,,BR,,19/04/2020,
17304,36,,,Hospitalized,19/04/2020,,Munger,Bihar,,M,,Details awaited,17304,https://twitter.com/sanjayjavin/status/1251938...,,,BR,,19/04/2020,
17305,52,,,Hospitalized,19/04/2020,,Munger,Bihar,,M,,Details awaited,17305,https://twitter.com/sanjayjavin/status/1251938...,,,BR,,19/04/2020,

In [76]:
df[['notes', 'source1']]

,notes,source1
0,Travelled from Wuhan,https://twitter.com/vijayanpinarayi/status/122...
1,Travelled from Wuhan,https://www.indiatoday.in/india/story/kerala-r...
2,Travelled from Wuhan,https://www.indiatoday.in/india/story/kerala-n...
3,"Travelled from Austria, Italy",https://www.indiatoday.in/india/story/not-a-ja...
4,"Travelled from Dubai to Bangalore on 20th Feb,...",https://www.deccanherald.com/national/south/qu...
...,...,...
17301,Details awaited,https://twitter.com/kansalrohit69/status/12519...
17302,Details awaited,https://twitter.com/kansalrohit69/status/12519...
17303,Details awaited,https://twitter.com/sanjayjavin/status/1251938...
17304,Details awaited,https://twitter.com/sanjayjavin/status/1251938...
17305,Details awaited,https://twitter.com/sanjayjavin/status/1251938...

In [82]:
raw_df['detectedstate'].value_counts()

KeyError: 'detectedstate'

In [83]:
raw_df

     gender agebracket
0         F         20
1
2
3         M         45
4         M         24
...     ...        ...
4074
4075
4076
4077
4078

[31970 rows x 2 columns]

In [86]:
df1 = pd.DataFrame(r1['raw_data'])
df2 = pd.DataFrame(r2['raw_data'])
df3 = pd.DataFrame(r3['raw_data'])
raw = pd.concat([df1, df2, df3])

In [87]:
raw['detectedstate'].value_counts()

Maharashtra                    8320
Tamil Nadu                     4172
Gujarat                        3707
Delhi                          2938
Rajasthan                      2435
Madhya Pradesh                 2278
Uttar Pradesh                  2154
Andhra Pradesh                 1706
Telangana                      1029
Karnataka                       831
                                793
West Bengal                     681
Jammu and Kashmir               626
Bihar                           570
Kerala                          565
Punjab                          442
Haryana                         376
Odisha                          186
Chandigarh                      108
Jharkhand                       102
Uttarakhand                      67
Himachal Pradesh                 53
Chhattisgarh                     50
Assam                            47
Andaman and Nicobar Islands      38
Ladakh                           25
Meghalaya                        15
Puducherry                       12
Goa                               7
Tripura                           5
Manipur                           2
Arunachal Pradesh                 1
Mizoram                           1
Name: detectedstate, dtype: int64

In [89]:
raw

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,...,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission,entryid,numcases
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,...,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported,NaN,NaN
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,...,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported,NaN,NaN
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,...,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported,NaN,NaN
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,...,4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported,NaN,NaN
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,...,5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6446,,NaN,,,05/05/2020,,,,NaN,,...,,,,,,,,,,
6447,,NaN,,,05/05/2020,,,,NaN,,...,,,,,,,,,,
6448,,NaN,,,05/05/2020,,,,NaN,,...,,,,,,,,,,
6449,,NaN,,,05/05/2020,,,,NaN,,...,,,,,,,,,,
6450,,NaN,,,05/05/2020,,,,NaN,,...,,,,,,,,,,

In [90]:
df1.shape, df2.shape, df3.shape

((17306, 20), (10585, 20), (6451, 20))